.button {
  @apply py-2 h-10 rounded inline-flex items-center whitespace-nowrap border focus:outline-none active:outline-none justify-center;
  padding-left: calc(theme("spacing.4") - theme("borderWidth.DEFAULT"));
  padding-right: calc(theme("spacing.4") - theme("borderWidth.DEFAULT"));
}

.button-primary {
  @apply bg-button-primary hover:bg-button-secondary hover:border-border-active active:bg-button-tertiary disabled:border-none disabled:bg-button-disabled;
}

.button-primary > span {
  @apply text-text-tertiary;
}

.button-primary:hover > span,
.button-primary:active > span {
  @apply text-text-primary;
}

.button:disabled > span {
  @apply text-text-secondary;
}

.button-secondary {
  @apply border-border-primary hover:border-border-active bg-transparent hover:bg-button-secondary active:bg-button-tertiary disabled:border-button-disabled disabled:bg-transparent;
}

.button-tertiary {
  @apply border-none bg-transparent p-0 h-auto;
}

.button-tertiary > span {
  @apply active:text-text-secondary;
}
.button:disabled > span {
  @apply active:text-text-disabled;
}
