{
  "log": {
    "_recordingName": "/api/webhooks/stripe/should update transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ff58b021dcd6ea65c59a1abed43ae21c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-08-01"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents/pi_3LXWz9EosEcNBN5m03w4t20q"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4485,
            "text": "{\"id\":\"pi_3LXWz9EosEcNBN5m03w4t20q\",\"object\":\"payment_intent\",\"amount\":921,\"amount_capturable\":0,\"amount_details\":{\"tip\":{}},\"amount_received\":921,\"application\":null,\"application_fee_amount\":null,\"automatic_payment_methods\":null,\"canceled_at\":null,\"cancellation_reason\":null,\"capture_method\":\"automatic\",\"charges\":{\"object\":\"list\",\"data\":[{\"id\":\"ch_3LXWz9EosEcNBN5m0SPBLpeE\",\"object\":\"charge\",\"amount\":921,\"amount_captured\":921,\"amount_refunded\":0,\"application\":null,\"application_fee\":null,\"application_fee_amount\":null,\"balance_transaction\":\"txn_3LXWz9EosEcNBN5m0bqwe2hD\",\"billing_details\":{\"address\":{\"city\":null,\"country\":\"PL\",\"line1\":null,\"line2\":null,\"postal_code\":null,\"state\":null},\"name\":\"4242\",\"phone\":null},\"calculated_statement_descriptor\":\"Stripe\",\"captured\":true,\"created\":1660684059,\"currency\":\"usd\",\"customer\":\"cus_MG35vY0kj4h61Y\",\"description\":null,\"destination\":null,\"dispute\":null,\"disputed\":false,\"failure_balance_transaction\":null,\"failure_code\":null,\"failure_message\":null,\"fraud_details\":{},\"invoice\":null,\"livemode\":false,\"metadata\":{},\"on_behalf_of\":null,\"order\":null,\"outcome\":{\"network_status\":\"approved_by_network\",\"reason\":null,\"risk_level\":\"normal\",\"risk_score\":38,\"seller_message\":\"Payment complete.\",\"type\":\"authorized\"},\"paid\":true,\"payment_intent\":\"pi_3LXWz9EosEcNBN5m03w4t20q\",\"payment_method\":\"pm_1LXWz8EosEcNBN5mznWSJNYz\",\"payment_method_details\":{\"card\":{\"brand\":\"visa\",\"checks\":{\"address_line1_check\":null,\"address_postal_code_check\":null,\"cvc_check\":\"pass\"},\"country\":\"US\",\"exp_month\":4,\"exp_year\":2024,\"fingerprint\":\"7aB2lHdoeemL4wct\",\"funding\":\"credit\",\"installments\":null,\"last4\":\"4242\",\"mandate\":null,\"network\":\"visa\",\"three_d_secure\":null,\"wallet\":null},\"type\":\"card\"},\"receipt_email\":null,\"receipt_number\":null,\"receipt_url\":\"https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTFZad3hFb3NFY05CTjVtKIiw8JcGMgbK6_xOAq46LBYPDgiC64le-7G7nV8n-VDh7UJWfInO2Nynrv2Uyi5bN-PmPttJhB0nymYM\",\"refunded\":false,\"refunds\":{\"object\":\"list\",\"data\":[],\"has_more\":false,\"total_count\":0,\"url\":\"/v1/charges/ch_3LXWz9EosEcNBN5m0SPBLpeE/refunds\"},\"review\":null,\"shipping\":null,\"source\":null,\"source_transfer\":null,\"statement_descriptor\":null,\"statement_descriptor_suffix\":null,\"status\":\"succeeded\",\"transfer_data\":null,\"transfer_group\":null}],\"has_more\":false,\"total_count\":1,\"url\":\"/v1/charges?payment_intent=pi_3LXWz9EosEcNBN5m03w4t20q\"},\"client_secret\":\"pi_3LXWz9EosEcNBN5m03w4t20q_secret_ZR3DEQ1ZWJh6Tfp7KFUrX3U1W\",\"confirmation_method\":\"automatic\",\"created\":1660684059,\"currency\":\"usd\",\"customer\":\"cus_MG35vY0kj4h61Y\",\"description\":null,\"invoice\":null,\"last_payment_error\":null,\"livemode\":false,\"metadata\":{},\"next_action\":null,\"on_behalf_of\":null,\"payment_method\":\"pm_1LXWz8EosEcNBN5mznWSJNYz\",\"payment_method_options\":{\"card\":{\"installments\":null,\"mandate_options\":null,\"network\":null,\"request_three_d_secure\":\"automatic\"}},\"payment_method_types\":[\"card\"],\"processing\":null,\"receipt_email\":null,\"review\":null,\"setup_future_usage\":null,\"shipping\":null,\"source\":null,\"statement_descriptor\":null,\"statement_descriptor_suffix\":null,\"status\":\"succeeded\",\"transfer_data\":null,\"transfer_group\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "stripe-version",
              "value": "2022-08-01"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 785,
      },
      {
        "_id": "31f6796678d16a879c26135146f2bd4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query OrderTransactions($id: ID!) {\\n  order(id: $id) {\\n    transactions {\\n      ...Transaction\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\\nfragment Transaction on TransactionItem {\\n  id\\n  reference\\n  voidedAmount {\\n    ...Money\\n    __typename\\n  }\\n  refundedAmount {\\n    ...Money\\n    __typename\\n  }\\n  chargedAmount {\\n    ...Money\\n    __typename\\n  }\\n  authorizedAmount {\\n    ...Money\\n    __typename\\n  }\\n  events {\\n    ...TransactionEvent\\n    __typename\\n  }\\n}\\n\\nfragment Money on Money {\\n  currency\\n  amount\\n}\\n\\nfragment TransactionEvent on TransactionEvent {\\n  name\\n  reference\\n}\\n\",\"operationName\":\"OrderTransactions\",\"variables\":{\"id\":\"T3JkZXI6ODIwMDdiOTQtYzc2ZC00MGYxLWE0OGUtNzFjZWFiMGU2OWVi\"}}"
          },
          "queryString": [],
          "url": "https://saleor-demo-kohqo557.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1263,
            "text": "{\"data\":{\"order\":{\"transactions\":[{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjQ=\",\"reference\":\"cs_test_b1rFL3ne5vJwFITea5tObeCZleiEKYx9Lpqi9sicSN2iN76A6kIE5F5pTc\",\"voidedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"refundedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"chargedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"authorizedAmount\":{\"currency\":\"USD\",\"amount\":9.21,\"__typename\":\"Money\"},\"events\":[{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"checkout.session.completed\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"}],\"__typename\":\"TransactionItem\"}],\"errors\":[],\"__typename\":\"Order\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":2,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 659,
      },
      {
        "_id": "7320c363f0673f537e327d64c8878576",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"mutation TransactionUpdate($id: ID!, $transaction: TransactionUpdateInput!, $transactionEvent: TransactionEventInput) {\\n  transactionUpdate(\\n    id: $id\\n    transaction: $transaction\\n    transactionEvent: $transactionEvent\\n  ) {\\n    transaction {\\n      id\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\",\"operationName\":\"TransactionUpdate\",\"variables\":{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjQ=\",\"transaction\":{\"status\":\"complete\",\"reference\":\"cs_test_b1rFL3ne5vJwFITea5tObeCZleiEKYx9Lpqi9sicSN2iN76A6kIE5F5pTc\",\"type\":\"stripe-card\",\"amountAuthorized\":{\"amount\":9.21,\"currency\":\"USD\"},\"availableActions\":[\"REFUND\"]},\"transactionEvent\":{\"status\":\"SUCCESS\",\"name\":\"checkout.session.completed\"}}}"
          },
          "queryString": [],
          "url": "https://saleor-demo-kohqo557.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 244,
            "text": "{\"data\":{\"transactionUpdate\":{\"transaction\":{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjQ=\",\"__typename\":\"TransactionItem\"},\"errors\":[],\"__typename\":\"TransactionUpdate\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":0,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 549,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
