@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import "react-toastify/dist/ReactToastify.css";
@import "./views/Checkout/CheckoutStyles.css";
@import "./components/Divider/DividerStyles.css";
@import "./hooks/useAlerts/AlertStyles.css";
@import "./components/SelectBox/SelectBoxStyles.css";
@import "./components/PasswordInput/PasswordInputStyles.css";
@import "./components/Skeleton/SkeletonStyles.css";
@import "./sections/CheckoutForm/CheckoutFormStyles.css";
@import "./views/OrderConfirmation/OrderConfirmationStyles.css";
@import "./sections/Summary/SummaryStyles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size set for rem */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
