@tailwind components;

@layer components {
  .summary {
    @apply flex flex-col w-full lg:w-1/2 h-fit border border-border-secondary rounded-lg lg:border-none overflow-hidden lg:overflow-visible lg:summary-with-bottom-margin;
  }

  .summary-with-bottom-margin {
    height: calc(100vh - 168px);
  }

  .summary-title {
    @apply flex flex-row px-6 justify-between items-baseline z-50 py-4 lg:pt-0 lg:pb-6 lg:px-0 lg:pointer-events-none;
  }

  .summary-title .text {
    @apply text-lg font-bold;
  }

  .summary-title .money {
    @apply sm:hidden;
  }

  .summary-title img {
    @apply lg:hidden transition-all;
  }

  .summary-title.open img {
    @apply origin-center rotate-180;
  }

  .summary-items {
    @apply px-4 overflow-visible lg:pt-2 lg:overflow-scroll;
  }

  .summary-item {
    @apply flex flex-row items-start mb-6 relative;
  }

  .summary-item:last-of-type {
    @apply mb-0;
  }

  .summary-row {
    @apply flex flex-row justify-between items-center;
  }

  .summary-item-image {
    @apply w-18 h-18 flex items-center justify-center;
  }

  .summary .delete-row-button {
    @apply absolute -left-4 top-1 border border-border-primary bg-button-secondary hover:border-border-active active:border-border-active active:bg-button-tertiary w-8 h-8 flex items-center justify-center rounded-full;
  }

  .summary-recap {
    @apply flex flex-col max-w-full;
  }

  .summary-recap > .summary-row {
    @apply px-4;
  }
}
