@tailwind components;

@layer components {
  .app {
    @apply min-h-screen bg-background-primary px-4 lg:px-0;
  }

  .page-horizontal-spacing {
    @apply px-4 md:px-12 xl:px-18 2xl:w-350;
  }

  .page {
    @apply min-h-screen mx-auto flex flex-col  pt-8 md:pt-10 max-w-220 pb-20;
  }

  .page-header {
    @apply mb-6 md:mb-12;
  }

  .logo {
    @apply h-10;
  }

  .page-content {
    @apply flex flex-col-reverse lg:items-start lg:flex-row w-full box-border;
  }

  .page-divider {
    @apply h-6 w-full lg:h-full lg:w-10;
  }
}
