.navbar {
  @apply bg-zinc-100 text-main z-1 lg:mx-16 relative;
}

.inner {
  @apply h-14 flex flex-nowrap items-center px-6;
}

.logo {
  @apply hover:text-brand;
}

.nav {
  @apply pl-0.5 h-full hidden lg:flex;
}

.nav > ol {
  @apply list-none flex items-center h-full;
}

.nav > ol > li {
  @apply h-full;
}

.dropdown {
  @apply flex items-center h-full;
}

.dropdown-trigger {
  @apply flex items-center text-center text-3xl font-medium hover:text-brand h-full px-4;
}

.dropdown-menu {
  @apply absolute top-14 left-[50%] translate-x-[-50%] pt-8 bg-white w-full border-b border-main-4 invisible;
  padding-bottom: calc(theme("spacing.12") - theme("borderWidth.DEFAULT"));
}

.dropdown:hover :local .dropdown-menu {
  @apply visible;
}

.dropdown-main {
  @apply inline-block text-[1.7rem] leading-[1.65rem] font-bold cursor-pointer hover:text-brand;
}

.dropdown-ul {
  @apply list-none mt-3;
}

.dropdown-ul > li + li {
  @apply mt-2;
}

.dropdown-link {
  @apply text-[1.4rem]  text-main-2 cursor-pointer hover:text-brand;
}

.nav-icon-button {
  @apply relative hover:text-brand w-8 h-8 flex justify-center items-center;
}

.nav-icon-counter {
  @apply absolute bottom-2 right-2 translate-x-[50%] translate-y-[50%] bg-brand text-white flex justify-center items-center rounded text-[1rem] leading-[1rem] h-[14px] px-1;
  min-width: theme("spacing.4");
}

.user-menu-container {
  @apply relative;
}

.user-menu-container:hover :local .user-menu {
  @apply visible;
}

.user-menu {
  @apply absolute top-[100%] right-0 shadow-modal flex flex-col  invisible bg-white;
}

.user-menu-item {
  @apply px-4 pt-[14px] pb-[13px] text-base font-medium cursor-pointer flex items-center whitespace-nowrap hover:text-brand;
}
