# URL used when app is running locally with `saleor app tunnel`
DEBUG_APP_URL=https://saleor-checkout-my-account.saleor

# Variables used for recording tests.
# Refer to ../../docs/vercel.md (Vercel deployment guide) on how to get those variables
TEST_MOLLIE_KEY=
TEST_MOLLIE_PROFILE_ID=
TEST_ADYEN_MERCHANT_ACCOUNT=
TEST_ADYEN_CLIENT_KEY=
TEST_ADYEN_API_KEY=
TEST_ADYEN_HMAC=
TEST_ADYEN_WEBHOOK_PASSWORD=
TEST_ADYEN_WEBHOOK_USERNAME=
