{
  "log": {
    "_recordingName": "/api/webhooks/mollie/handles request with completed payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d0a56f5290079d200fb90cd80eaae6c7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query OrderTransactions($id: ID!) {\\n  order(id: $id) {\\n    transactions {\\n      ...Transaction\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\\nfragment Transaction on TransactionItem {\\n  id\\n  reference\\n  voidedAmount {\\n    ...Money\\n    __typename\\n  }\\n  refundedAmount {\\n    ...Money\\n    __typename\\n  }\\n  chargedAmount {\\n    ...Money\\n    __typename\\n  }\\n  authorizedAmount {\\n    ...Money\\n    __typename\\n  }\\n  events {\\n    ...TransactionEvent\\n    __typename\\n  }\\n}\\n\\nfragment Money on Money {\\n  currency\\n  amount\\n}\\n\\nfragment TransactionEvent on TransactionEvent {\\n  name\\n  reference\\n}\\n\",\"operationName\":\"OrderTransactions\",\"variables\":{\"id\":\"T3JkZXI6YmQ3NDU0NzctZTdiNS00MmEwLWJmYjgtY2NjMThjOTJhMDYz\"}}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 340,
            "text": "{\"errors\":[{\"message\":\"You need one of the following permissions: MANAGE_ORDERS, HANDLE_PAYMENTS\",\"locations\":[{\"line\":3,\"column\":5}],\"path\":[\"order\",\"transactions\"],\"extensions\":{\"exception\":{\"code\":\"PermissionDenied\"}}}],\"data\":{\"order\":null},\"extensions\":{\"cost\":{\"requestedQueryCost\":2,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1226,
      },
      {
        "_id": "02d473f0dd044703de6a9755e5289d31",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"mutation TransactionCreate($id: ID!, $transaction: TransactionCreateInput!, $transactionEvent: TransactionEventInput) {\\n  transactionCreate(\\n    id: $id\\n    transaction: $transaction\\n    transactionEvent: $transactionEvent\\n  ) {\\n    transaction {\\n      id\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\",\"operationName\":\"TransactionCreate\",\"variables\":{\"id\":\"T3JkZXI6YmQ3NDU0NzctZTdiNS00MmEwLWJmYjgtY2NjMThjOTJhMDYz\",\"transaction\":{\"status\":\"paid\",\"reference\":\"ord_kr6ltl\",\"type\":\"mollie-creditcard\",\"amountAuthorized\":{\"amount\":0,\"currency\":\"USD\"},\"amountCharged\":{\"amount\":21.67,\"currency\":\"USD\"},\"availableActions\":[\"REFUND\"]},\"transactionEvent\":{\"status\":\"SUCCESS\",\"name\":\"Mollie status update: paid\"}}}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 333,
            "text": "{\"errors\":[{\"message\":\"You need one of the following permissions: HANDLE_PAYMENTS\",\"locations\":[{\"line\":2,\"column\":3}],\"path\":[\"transactionCreate\"],\"extensions\":{\"exception\":{\"code\":\"PermissionDenied\"}}}],\"data\":{\"transactionCreate\":null},\"extensions\":{\"cost\":{\"requestedQueryCost\":0,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 600,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
