{
  "log": {
    "_recordingName": "/api/webhooks/mollie/handles request with completed payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d0a56f5290079d200fb90cd80eaae6c7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query OrderTransactions($id: ID!) {\\n  order(id: $id) {\\n    transactions {\\n      ...Transaction\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\\nfragment Transaction on TransactionItem {\\n  id\\n  reference\\n  voidedAmount {\\n    ...Money\\n    __typename\\n  }\\n  refundedAmount {\\n    ...Money\\n    __typename\\n  }\\n  chargedAmount {\\n    ...Money\\n    __typename\\n  }\\n  authorizedAmount {\\n    ...Money\\n    __typename\\n  }\\n  events {\\n    ...TransactionEvent\\n    __typename\\n  }\\n}\\n\\nfragment Money on Money {\\n  currency\\n  amount\\n}\\n\\nfragment TransactionEvent on TransactionEvent {\\n  name\\n  reference\\n}\\n\",\"operationName\":\"OrderTransactions\",\"variables\":{\"id\":\"T3JkZXI6YmQ3NDU0NzctZTdiNS00MmEwLWJmYjgtY2NjMThjOTJhMDYz\"}}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 757,
            "text": "{\"data\":{\"order\":{\"transactions\":[{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjE3Mg==\",\"reference\":\"ord_kr6ltl\",\"voidedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"refundedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"chargedAmount\":{\"currency\":\"USD\",\"amount\":21.67,\"__typename\":\"Money\"},\"authorizedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"events\":[{\"name\":\"Mollie status update: paid\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"},{\"name\":\"Mollie status update: paid\",\"reference\":\"\",\"__typename\":\"TransactionEvent\"}],\"__typename\":\"TransactionItem\"}],\"errors\":[],\"__typename\":\"Order\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":2,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 913,
      },
      {
        "_id": "a50955c16d38316a3ec34fc0756b4cd7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"mutation TransactionUpdate($id: ID!, $transaction: TransactionUpdateInput!, $transactionEvent: TransactionEventInput) {\\n  transactionUpdate(\\n    id: $id\\n    transaction: $transaction\\n    transactionEvent: $transactionEvent\\n  ) {\\n    transaction {\\n      id\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\",\"operationName\":\"TransactionUpdate\",\"variables\":{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjE3Mg==\",\"transaction\":{\"status\":\"paid\",\"reference\":\"ord_kr6ltl\",\"type\":\"mollie-creditcard\",\"amountAuthorized\":{\"amount\":0,\"currency\":\"USD\"},\"amountCharged\":{\"amount\":21.67,\"currency\":\"USD\"},\"availableActions\":[\"REFUND\"]},\"transactionEvent\":{\"status\":\"SUCCESS\",\"name\":\"Mollie status update: paid\"}}}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"data\":{\"transactionUpdate\":{\"transaction\":{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjE3Mg==\",\"__typename\":\"TransactionItem\"},\"errors\":[],\"__typename\":\"TransactionUpdate\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":0,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 712,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
