{
  "log": {
    "_recordingName": "/api/webhooks/adyen/updates payment when it was completed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b7500749c9456f80650ca4a2a104066a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query OrderTransactions($id: ID!) {\\n  order(id: $id) {\\n    transactions {\\n      ...Transaction\\n      __typename\\n    }\\n    errors {\\n      code\\n      message\\n      __typename\\n    }\\n    __typename\\n  }\\n}\\n\\nfragment Transaction on TransactionItem {\\n  id\\n  reference\\n  voidedAmount {\\n    ...Money\\n    __typename\\n  }\\n  refundedAmount {\\n    ...Money\\n    __typename\\n  }\\n  chargedAmount {\\n    ...Money\\n    __typename\\n  }\\n  authorizedAmount {\\n    ...Money\\n    __typename\\n  }\\n  events {\\n    ...TransactionEvent\\n    __typename\\n  }\\n}\\n\\nfragment Money on Money {\\n  currency\\n  amount\\n}\\n\\nfragment TransactionEvent on TransactionEvent {\\n  name\\n  reference\\n}\\n\",\"operationName\":\"OrderTransactions\",\"variables\":{\"id\":\"T3JkZXI6MGQ4NDRiZDMtYTA5YS00NzUyLWE0ODktYzFlMzM2Y2I4ZjU4\"}}"
          },
          "queryString": [],
          "url": "https://master.staging.saleor.cloud/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 675,
            "text": "{\"data\":{\"order\":{\"transactions\":[{\"id\":\"VHJhbnNhY3Rpb25JdGVtOjE3Nw==\",\"reference\":\"LD65H2FVNXSKGK82\",\"voidedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"refundedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"chargedAmount\":{\"currency\":\"USD\",\"amount\":0,\"__typename\":\"Money\"},\"authorizedAmount\":{\"currency\":\"USD\",\"amount\":42.92,\"__typename\":\"Money\"},\"events\":[{\"name\":\"AUTHORISATION\",\"reference\":\"LD65H2FVNXSKGK82\",\"__typename\":\"TransactionEvent\"}],\"__typename\":\"TransactionItem\"}],\"errors\":[],\"__typename\":\"Order\"}},\"extensions\":{\"cost\":{\"requestedQueryCost\":2,\"maximumAvailable\":50000}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 637,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
