@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size set for rem */

html {
  font-size: 62.5%;
}

@layer components {
  /* Password Input */

  .password-input-icon {
    @apply absolute top-0 right-0 h-14 pr-4 flex justify-center items-center;
  }

  /* Divider */

  .divider {
    @apply h-px w-full bg-border-primary;
  }

  /* Radio Box Group */
  .radio-box-group {
    @apply w-full;
  }

  .radio-box-group .radio-box:last-of-type {
    @apply border-b border-border-primary;
  }

  .radio-box {
    @apply box-content py-6 px-6 flex flex-row items-start border-x border-t border-border-primary;
  }

  .radio-box-group div.radio-box.selected {
    @apply border border-border-active;
  }

  div.radio-box.selected + div.radio-box {
    @apply border-t-0;
  }

  .address-radio-box {
    @apply flex flex-row justify-between;
  }

  /* General Layout */
  .app {
    @apply bg-background-primary;
  }

  .page {
    @apply min-h-screen mx-auto flex flex-col pt-8 md:pt-10 px-4 md:px-12 xl:px-18 2xl:w-350;
  }

  .page-header {
    @apply mb-6 md:mb-12;
  }

  .logo {
    @apply h-10;
  }

  .page-content {
    @apply flex flex-col-reverse lg:flex-row w-full;
  }

  .page-divider {
    @apply h-6 md:h-full w-full md:w-12 xl:w-18;
  }

  /* Summary */
  .summary {
    @apply flex flex-col w-full mb-8 lg:w-1/2 bg-background-secondary py-8 overflow-hidden;
  }

  .summary-title {
    @apply flex flex-row px-6 justify-between items-center  bg-background-secondary z-50;
  }

  .summary-title .text {
    @apply text-lg font-bold;
  }

  .summary-title .money {
    @apply sm:hidden;
  }

  .summary-title img {
    @apply sm:hidden transition-all;
  }

  .summary-title.open img {
    @apply origin-center rotate-180;
  }

  .summary-items {
    @apply overflow-visible sm:overflow-scroll;
  }

  .summary-row {
    @apply flex flex-row justify-between;
  }

  .summary-item-image {
    @apply w-18 h-18 flex items-center justify-center;
  }

  .summary .delete-row-button {
    @apply absolute -left-4 top-1 border border-border-primary bg-button-secondary hover:border-border-active active:border-border-active active:bg-button-tertiary w-8 h-8 flex items-center justify-center rounded-full;
  }

  .summary-recap {
    @apply flex flex-col max-w-full px-6 ml-0 md:ml-22;
  }

  /* Checkout Form */
  .checkout-form {
    @apply flex flex-col w-full lg:w-1/2 xl:w-2/3;
  }

  .actions {
    @apply flex flex-row w-full justify-end items-center;
  }

  /* Order confirmation */
  .order-header {
    @apply mb-8;
  }

  .order-content {
    @apply flex flex-col lg:flex-row w-full mt-8;
  }

  .order-divider {
    @apply h-6 md:h-full w-full md:w-12 xl:w-18;
  }
}
