@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size set for rem */

html {
  font-size: 62.5%;
}

/* TextInput */

.input {
  transition: border 0.2s ease-in-out;
  height: 56px;
  padding-left: 11px;
}

.input:focus + .text-input-label,
.input:active + .text-input-label,
.input.text-input-filled + .text-input-label {
  font-size: 11px;
  transition: all 0.2s ease-out;
  top: 0.4rem;
}

.label {
  transition: all 0.2s ease-out;
  top: 1.2rem;
  left: 0;
}

@layer components {
  /* Test Input */
  .text-input {
    @apply input border border-border-primary appearance-none w-full focus:border-border-active focus:outline-none active:outline-none active:border-border-primary py-3 pt-5 pb-2;
  }

  .text-input-error {
    @apply border-border-error;
  }

  .text-input-label {
    @apply label absolute text-text-secondary text-base ml-3;
  }

  /* Button */
  .button {
    @apply py-3 px-4 border focus:outline-none active:outline-none;
  }

  .button-primary {
    @apply bg-button-primary hover:bg-button-secondary active:bg-button-tertiary disabled:border-none disabled:bg-background-tertiary;
  }

  .button-primary p {
    @apply text-text-tertiary;
  }

  .button-primary:hover p,
  .button-primary:active p {
    @apply text-text-primary;
  }

  .button:disabled p {
    @apply text-text-secondary;
  }

  .button-secondary {
    @apply border-border-primary hover:border-border-active bg-transparent hover:bg-button-secondary active:bg-button-tertiary disabled:border-border-primary disabled:bg-transparent;
  }

  .button-tertiary {
    @apply border-none bg-transparent px-0 py-0;
  }

  .button-tertiary p {
    @apply active:text-text-secondary;
  }

  /* General Layout */
  .app {
    @apply bg-background-primary;
  }

  .page {
    @apply min-h-screen mx-auto flex flex-col pt-8 md:pt-10 px-10 md:px-12 xl:px-18 2xl:w-350;
  }

  .page-header {
    @apply mb-6 md:mb-12;
  }

  .logo {
    @apply h-10;
  }

  .page-content {
    @apply flex flex-col-reverse lg:flex-row w-full;
  }

  .page-divider {
    @apply h-6 md:h-full w-full md:w-12 xl:w-18;
  }

  /* Summary */
  .summary {
    @apply flex flex-col w-full mb-8 lg:w-1/2 xl:w-1/3 bg-background-secondary py-8 overflow-hidden;
  }

  .summary-title {
    @apply flex flex-row px-6 justify-between items-center  bg-background-secondary z-50;
  }

  .summary-title .text {
    @apply text-lg font-bold;
  }

  .summary-title .text {
    @apply sm:text-xl;
  }

  .summary-title .money {
    @apply sm:hidden;
  }

  .summary-title img {
    @apply sm:hidden transition-all;
  }

  .summary-title.open img {
    @apply origin-center rotate-180;
  }

  .summary-items {
    @apply overflow-visible sm:overflow-scroll;
  }

  .summary-row {
    @apply flex flex-row justify-between;
  }

  .summary-item-image {
    @apply w-18 h-18 flex items-center justify-center;
  }

  .summary .delete-row-button {
    @apply absolute -left-4 top-1 border border-border-primary bg-button-secondary hover:border-border-active active:border-border-active active:bg-button-tertiary w-8 h-8 flex items-center justify-center rounded-full;
  }

  .summary-recap {
    @apply flex flex-col max-w-full px-6 ml-0 md:ml-22;
  }

  /* Checkout Form */
  .checkout-form {
    @apply flex flex-col w-full lg:w-1/2 xl:w-2/3;
  }
}
