@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size set for rem */

html {
  font-size: 62.5%;
}

@layer components {
  /* Icon class to keep icon sizes unified */
  .icon {
    @apply h-5 w-5;
  }

  /* Icon Button */
  .icon-button {
    @apply icon outline-none focus:outline-none active:outline-none;
  }

  .icon-button:hover path {
    fill: "red";
  }

  /* Checkbox */
  .checkbox {
    @apply flex flex-row mb-4;
  }

  .checkbox [type="checkbox"] {
    @apply opacity-0 absolute z-10;
  }

  .checkbox [type="checkbox"]:checked + .checkbox-input {
    @apply border-border-active;
  }

  .checkbox .checkbox-input:hover {
    @apply border-border-active;
  }

  .checkbox [type="checkbox"]:checked + .checkbox-input img {
    @apply opacity-100;
  }

  .checkbox .checkbox-input {
    @apply icon border border-border-primary absolute top-0 left-0 z-50;
  }

  .checkbox .checkbox-input img {
    @apply opacity-0;
  }

  /* Test Input */

  .text-input-container {
    @apply relative mb-4;
  }

  .text-input {
    transition: border 0.2s ease-in-out;
    height: 56px;
    padding-left: 11px;
    @apply input text-base border border-border-primary appearance-none w-full focus:border-border-active focus:outline-none active:outline-none active:border-border-primary pb-1 pt-5;
  }

  .text-input-error {
    @apply border-border-error mb-2;
  }

  .input:focus.text-input-error {
    @apply border-border-error mb-2;
  }

  .text-input-label {
    transition: all 0.2s ease-out;
    @apply absolute top-4 left-0 text-text-secondary text-base ml-3;
  }

  .text-input-filled-label {
    transition: all 0.2s ease-out;
    top: 0.6rem;
    @apply text-sm;
  }

  .input:focus + .text-input-label,
  .input:active + .text-input-label {
    @apply text-input-filled-label;
  }

  .text-input-container .icon {
    @apply absolute right-0 top-4 right-4 h-full;
  }

  /* Divider */

  .divider {
    @apply h-px w-full bg-border-primary;
  }

  /* Button */
  .button {
    @apply py-3 px-4 whitespace-nowrap border focus:outline-none active:outline-none;
  }

  .button-primary {
    @apply bg-button-primary hover:bg-button-secondary active:bg-button-tertiary disabled:border-none disabled:bg-background-tertiary;
  }

  .button-primary p {
    @apply text-text-tertiary;
  }

  .button-primary:hover p,
  .button-primary:active p {
    @apply text-text-primary;
  }

  .button:disabled p {
    @apply text-text-secondary;
  }

  .button-secondary {
    @apply border-border-primary hover:border-border-active bg-transparent hover:bg-button-secondary active:bg-button-tertiary disabled:border-border-primary disabled:bg-transparent;
  }

  .button-tertiary {
    @apply border-none bg-transparent px-0 py-0;
  }

  .button-tertiary p {
    @apply active:text-text-secondary;
  }

  /* Radio Group */
  .radio-group {
    @apply w-full;
  }

  .radio-group div.radio-option:last-of-type {
    @apply border-b border-border-primary;
  }

  .radio-option {
    @apply box-content py-6 px-6 flex flex-row items-start border-x border-t border-border-primary;
  }

  .radio-option.with-subtitle {
    @apply items-start py-4;
  }

  .radio-input-container {
    @apply block relative cursor-pointer icon mr-4 select-none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .radio-input-container input {
    @apply icon z-20 absolute opacity-0 cursor-pointer;
  }

  .radio-input-icon {
    @apply absolute top-0 left-0 icon bg-background-secondary rounded-full border-border-primary z-50;
    border-width: 2px;
  }

  .radio-option.disabled > * .radio-input-icon {
    @apply border-border-secondary;
  }

  .radio-option.disabled {
    @apply border-x-border-secondary;
  }

  .radio-input-container:hover input ~ .radio-input-icon {
    @apply border-border-active;
  }

  .radio-option.disabled .radio-input-container:hover input ~ .radio-input-icon,
  .radio-option.disabled .radio-input-container:hover input {
    @apply border-border-secondary cursor-auto;
  }

  div.radio-option.selected .radio-input-container .radio-input-icon {
    @apply border-border-active;
    border-width: 6px;
  }

  .radio-input-icon:after {
    @apply content-none absolute hidden;
  }

  .radio-option input[type="radio"],
  .radio-option input[type="checkbox"] {
    @apply outline-none;
  }

  .radio-group div.radio-option.selected {
    @apply border-b border-border-active;
  }

  div.radio-option.selected + div.radio-option {
    @apply border-t-0;
  }

  /* General Layout */
  .app {
    @apply bg-background-primary;
  }

  .page {
    @apply min-h-screen mx-auto flex flex-col pt-8 md:pt-10 px-10 md:px-12 xl:px-18 2xl:w-350;
  }

  .page-header {
    @apply mb-6 md:mb-12;
  }

  .logo {
    @apply h-10;
  }

  .page-content {
    @apply flex flex-col-reverse lg:flex-row w-full;
  }

  .page-divider {
    @apply h-6 md:h-full w-full md:w-12 xl:w-18;
  }

  /* Summary */
  .summary {
    @apply flex flex-col w-full mb-8 lg:w-1/2 xl:w-1/3 bg-background-secondary py-8 overflow-hidden;
  }

  .summary-title {
    @apply flex flex-row px-6 justify-between items-center  bg-background-secondary z-50;
  }

  .summary-title .text {
    @apply text-lg font-bold;
  }

  .summary-title .text {
    @apply sm:text-xl;
  }

  .summary-title .money {
    @apply sm:hidden;
  }

  .summary-title img {
    @apply sm:hidden transition-all;
  }

  .summary-title.open img {
    @apply origin-center rotate-180;
  }

  .summary-items {
    @apply overflow-visible sm:overflow-scroll;
  }

  .summary-row {
    @apply flex flex-row justify-between;
  }

  .summary-item-image {
    @apply w-18 h-18 flex items-center justify-center;
  }

  .summary .delete-row-button {
    @apply absolute -left-4 top-1 border border-border-primary bg-button-secondary hover:border-border-active active:border-border-active active:bg-button-tertiary w-8 h-8 flex items-center justify-center rounded-full;
  }

  .summary-recap {
    @apply flex flex-col max-w-full px-6 ml-0 md:ml-22;
  }

  /* Checkout Form */
  .checkout-form {
    @apply flex flex-col w-full lg:w-1/2 xl:w-2/3;
  }

  .actions {
    @apply flex flex-row w-full justify-end items-center;
  }
}
