/* :local(.text-input-container) {
	@apply relative mb-3 w-full;
} */

/* :local(.text-input-label) {
	transition: all 0.2s ease-out;
	@apply text-text-secondary pointer-events-none absolute left-0 top-3 ml-3 text-base;
} */

:local .text-input-container:focus-within .text-input-label,
.text-input-filled-label {
	transition: all 0.2s ease-out;
	top: 0.6rem;
	@apply text-xs;
}

.text-input:-webkit-autofill + .text-input-label {
	transition: all 0.2s ease-out;
	top: 0.6rem;
	@apply text-xs;
}

.text-input {
	transition: border 0.2s ease-in-out;
	/* @apply border-border-primary focus:border-border-active active:border-border-primary h-12 w-full appearance-none rounded border py-3 pb-2 pt-5 text-base focus:outline-none active:outline-none; */
	padding-left: calc(theme("spacing.3") - theme("borderWidth.DEFAULT"));
	padding-right: calc(theme("spacing.3") - theme("borderWidth.DEFAULT"));
}

.text-input-error {
	/* @apply border-border-error; */
}

.text-input-nolabel {
	@apply h-10 py-[9px];
}

.text-input-error-caption {
	@apply mt-0.5;
}
