:local(.label) {
  @apply cursor-pointer;
}

:local(.checkbox) {
  @apply relative flex flex-row mb-4 pl-6.5;
}

:local(.box) {
  @apply absolute left-0 h-5 w-5 inline-flex;
}

:local([type="checkbox"]) {
  @apply opacity-0 absolute z-10;
}

:local .checkbox:hover .checkbox-input {
  @apply border-border-active;
}

:local([type="checkbox"]:checked + .checkbox-input) {
  @apply border-border-primary;
}

:local([type="checkbox"]:focus + .checkbox-input) {
  @apply border-border-active;
}

:local([type="checkbox"]:checked + .checkbox-input svg) {
  @apply opacity-100;
}

:local(.checkbox-input) {
  @apply w-5 h-5 rounded-sm border border-border-primary absolute top-0 left-0 z-20 text-text-primary;
}

:local(.checkbox-input svg) {
  @apply opacity-0 absolute -top-px -left-px;
}
