@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

summary::-webkit-details-marker {
	display: none;
}

@media (min-width: theme(screens.lg)) {
	html:has(.checkout-bg) {
		background: linear-gradient(
			90deg,
			theme(colors.white) 0%,
			theme(colors.white) 50%,
			theme(colors.neutral.200) calc(50%),
			theme(colors.neutral.200) calc(50% + 1px),
			theme(colors.neutral.50) calc(50% + 1px),
			theme(colors.neutral.50) 100%
		);
	}
}
