@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
}

@media (min-width: theme(screens.lg)) {
	.checkout-bg {
		background: linear-gradient(
			90deg,
			theme(colors.white) 0%,
			theme(colors.white) 50%,
			theme(colors.gray.300) calc(50%),
			theme(colors.gray.300) calc(50% + 1px),
			theme(colors.gray.50) calc(50% + 1px),
			theme(colors.gray.50) 100%
		);
	}
}
