:local(.text-input-container) {
  @apply relative mb-3 w-full;
}

:local(.text-input-label) {
  transition: all 0.2s ease-out;
  @apply absolute top-4 left-0 text-text-secondary text-base ml-3;
}

:local .text-input-container:focus-within .text-input-label,
.text-input-filled-label {
  transition: all 0.2s ease-out;
  top: 0.6rem;
  @apply text-xs;
}

.text-input {
  transition: border 0.2s ease-in-out;
  @apply h-14  text-base border border-border-primary appearance-none w-full focus:border-border-active focus:outline-none active:outline-none active:border-border-primary py-3 pt-5 pb-2;
  padding-left: calc(theme("spacing.3") - theme("borderWidth.DEFAULT"));
  padding-right: calc(theme("spacing.3") - theme("borderWidth.DEFAULT"));
}

.text-input-error:focus-within {
  @apply border-border-error;
}

.text-input-nolabel {
  @apply h-10 py-[9px];
}

.text-input-error-caption {
  @apply mt-0.5;
}
