{
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "ignorePatterns": ["saleor/api.tsx", "pnpm-lock.yaml", "graphql.schema.json"],
  "plugins": ["simple-import-sort", "formatjs"],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "formatjs/no-offset": "error"
  }
}
